
/* MOBILE STYLES */
@media only screen and (max-width: 480px){
    /*////// CLIENT-SPECIFIC STYLES //////*/
    body{width:100% !important; min-width:100% !important;} /* Force iOS Mail to render the email at full width. */

    /* FRAMEWORK STYLES */
    /*
    CSS selectors are written in attribute
    selector format to prevent Yahoo Mail
    from rendering media query styles on
    desktop.
    */
    /*td[class="textContent"], td[class="flexibleContainerCell"] { width: 100%; padding-left: 10px !important; padding-right: 10px !important; }*/
    table[id="emailHeader"],
    table[id="emailBody"],
    table[id="emailFooter"],
    table[class="flexibleContainer"],
    td[class="flexibleContainerCell"] {width:100% !important;}
    td[class="flexibleContainerBox"], td[class="flexibleContainerBox"] table {display: block;width: 100%;text-align: left;}
    /*
    The following style rule makes any
    image classed with 'flexibleImage'
    fluid when the query activates.
    Make sure you add an inline max-width
    to those images to prevent them
    from blowing out.
    */
    td[class="imageContent"] img {height:auto !important; width:100% !important; max-width:100% !important; }
    img[class="flexibleImage"]{height:auto !important; width:100% !important;max-width:100% !important;}
    img[class="flexibleImageSmall"]{height:auto !important; width:auto !important;}


    /*
    Create top space for every second element in a block
    */
    table[class="flexibleContainerBoxNext"]{padding-top: 10px !important;}

    /*
    Make buttons in the email span the
    full width of their container, allowing
    for left- or right-handed ease of use.
    */
    table[class="emailButton"]{width:100% !important;}
    td[class="buttonContent"]{padding:0 !important;}
    td[class="buttonContent"] a{padding:15px !important;}

}
